.ppp
{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;


    
}
.ccc
{
    background-color: rgb(226, 134, 43);
    width: 400px;
    margin: 50px;
    padding: 30px;
    color: white;
}

/*
    flex-direction: column;
     flex-direction: row;
     flex-direction: column-reverse;
*/
/*
 flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: flex-start ;
  justify-content: flex-end;

   align-items: center;
    align-items: flex-start;
     justify-content: space-between;
      justify-content: space-around;

*/