#abc
{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: background-color ,width;
    transition-duration: 5s;
    transition-delay: 3s;
}
#abc:hover
{
    background-color: green;
    width: 400px;
}

#pqr
{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width;
    transition-duration: 5s;
}
#pqr:hover
{
    width: 400px;
}